{
    admin localhost:2019
}

:81 {
    log {
        output stdout
        format console
        level DEBUG
    }

    reverse_proxy {
        to superstore-frontend:80

        health_uri /
        health_interval 5s
        health_timeout 2s
        health_status 200

        lb_policy round_robin
        lb_retries 3
        fail_duration 10s

        transport http {
            keepalive off
        }
    }
}

:80 {
    # Temp debug logging
    log {
        output stdout
        format console
        level DEBUG
    }

    reverse_proxy {
        to blue-web:8000 green-web:8000

        health_uri /
        health_interval 5s
        health_timeout 2s
        health_status 200

        lb_policy round_robin
        lb_retries 3
        fail_duration 10s

        transport http {
            keepalive off
        }
    }
}